.skills {
  background-color: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills__content {
  padding: 60px 40px;
  text-align: center;
}

.skills .skills__content .description {
  max-width: 100px;
  margin: 0 auto 10px;
}

.skills .skills__content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  gap: 2rem;
}

.skills .skills__content ul li .image-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills__content ul li h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
